body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url("pictures/starbackground.gif");
}
header {
  background-image: url("pictures/homepage.gif");
  height: 180px;
  width: 600px;
  margin-left: 200px;
}
h2, p {
  display: none;
}
a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    background-color: blue;
}
div {
    float: left;
    border: 6px solid green;
    border-radius: 5px;
    background-color: purple;
    color: white;
    margin: 0 70px 50px 100px;
    padding: 20px;
    width: 332px;
}
button {
  border: none;
}
img {
  background-image: url("pictures/starbackground.gif");
}
section {
  float: left;
}
ol, ul {
  display: none;
}
#hiddengif {
  display: none;
  margin: 10px;
}
.gifbutton, #geocities {
  background-color: white;
  color: red;
  font-size: 18px;
  border-radius: 10px;
}
.gifbutton:hover, #geocities:hover {
  background-color: blue;
  color: white;
}
