body {
  font-family: "Optima", sans-serif;
  background-color: #e6e6e6;
}
header {
  color: #404040;
  background-color: #e6e6e6;
}
nav {
  background-color: #333;
}
a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
    background-color: #111;
}
div {
  float: left;
  border: 6px solid #f2f2f2;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 0 50px 50px 50px;
  padding: 20px;
  width: 332px;
}
button {
  border: none;
}
section {
  float: left;
}
ol, ul {
  display: none;
}
#hiddengif {
  display: none;
  margin: 10px;
}
.gifbutton, #geocities {
  background-color: white;
  color: red;
  font-size: 18px;
  border-radius: 10px;

}
